.bell {
  filter: invert(100%);
  margin-left: 10px;
  margin-right: 10px;
}
body {
  background-color: rgb(24, 24, 24);
}

.icon {
  filter: invert(100%);
}

.icon-container {
  width: 40px;
  height: 30px;
}

.social-icons img {
  height: 30px;
  width: 30px;
  opacity: 50%;
}

.footer-links a {
  opacity: 50%;
}
