.bell {
  filter: invert(100%);
  margin-left: 10px;
  margin-right: 10px;
}
#index,
#profile {
  background-color: rgb(24, 24, 24);
}

#account {
  background-color: rgb(233, 233, 233);
}

.icon {
  filter: invert(100%);
}

.icon-container {
  width: 40px;
  height: 30px;
}

.social-icons img {
  height: 30px;
  width: 30px;
  opacity: 50%;
}

.footer-links a {
  opacity: 50%;
}

#cancel-mem-button {
}

.paypal-logo {
  width: 60px;
  height: 35px;
}

.user {
  width: 50px;
  height: 35px;
}

.netflix-logo {
  width: 150px;
  height: 80px;
}
#edit-profile {
  width: 35%;
}

#edit-profile hr {
  background-color: rgb(148, 148, 148);
}

.checkbox {
  transform: scale(2);
  filter: invert(100%);
}

.black {
  background-color: black;
}

.movie-thumbnail:hover {
  transform: scale(1.2);
  z-index: 8;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.2);
}
